.hero-container {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 0 20px;
  align-items: center;
  margin: 0 auto;
  display:flex
}

.greeting { color: #cad9f5; font-size: 2rem; margin-bottom: 10px; }
.name { color: #cad9f5; font-size: 3.5rem; font-weight: 800; margin: 0; }
.highlight { 
  font-weight: 1500;
  text-transform: uppercase;
  background: rgba(111, 183, 231, 0.5);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 4s linear infinite;
  filter: drop-shadow(0px 2px 2px rgba(255, 217, 0, 0.5));
}



.typewriter-box {
  font-size: 1.8rem;
  color: #cad9f5;
  font-family: 'Courier New', Courier, monospace;
  margin: 20px 0;
}

.code-window {
  border: 1px solid rgba(255, 255, 255, 0.1); 
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6); 

  
  
  background-color: rgba(15, 23, 42, 0.65); 

  
  backdrop-filter: blur(12px); 

  
  -webkit-backdrop-filter: blur(12px);
  width: 500px;
}
.code-header {
  background: #121e2e;
  padding: 12px;
  display: flex;
  gap: 10px;
}
.dot { width: 12px; height: 12px; border-radius: 50%; }
.red { background: #ff5f56; }
.yellow { background: #ffbd2e; }
.green { background: #27c93f; }

.code-body { padding: 20px; font-family: 'Consolas', monospace; font-size: 0.95rem; line-height: 1.6; }
.keyword { color: #c678dd; }
.variable { color: #61afef; }
.string { color: #98c379; }
.boolean, .number { color: #d19a66; }

@media (max-width: 992px) {
  .hero-content { grid-template-columns: 1fr; text-align: center; }
  .hero-btns { justify-content: center; }
  .name { font-size: 2.5rem; }
}

.hero-right {
  display: flex;
  justify-content: center;
  transform: translateX(50px); 
  transform: translateY(75px); 
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px; 
  transform: translateY(50px); 
  padding-left: 10px;
  
}

.social-container {
  display: flex;
  justify-content: center; 
  gap: 30px; 
  margin-top: 30px; 
  margin-bottom: 30px;
}

.social-icon {
  width: 40px; 
  height: 40px;
  background-color: #1a1f2e; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e91e63; 
  font-size: 1.5rem; 
  transition: all 0.3s ease;
  border: 2px solid rgba(233, 30, 99, 0.2); 
  text-decoration: none;
}

.social-icon:hover {
  background-color: #e91e63; 
  color: #fff; 
  transform: translateY(-5px); 
  box-shadow: 0 0 25px rgba(233, 30, 99, 0.7); 
  border-color: #e91e63;
}

