.projects-section {
    padding: 250px 10% 100px; 
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#projects {
    scroll-margin-top: -180px; 
}

.section-title {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: 800;
    letter-spacing: -1px;
}

.project-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.project-card {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    padding: 20px;
    transition: all 0.3s ease;
    align-items: flex-start; 
}

.project-card:hover {
    transform: translateX(10px); 
    border-color: #22d3ee;
    box-shadow: 0 10px 30px rgba(34, 211, 238, 0.1);
}

.project-left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 400px; 
    flex-shrink: 0;
}

.project-tag {
    background: #22d3ee;
    color: #020617;
    padding: 5px 15px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: 800;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5; 
}

.project-image-container {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
}


.project-img-file {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    display: block;
    transform-origin: center;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;     
}

.project-card:hover .project-img-file {
    transform: scale(1.05);
}

.project-info {
    flex: 1;
    padding-left: 40px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    gap: 10px;
}

.project-info h3 {
    font-size: 2.5rem;
    margin-bottom: 5px;
    color: #fff;
    margin-top: 0; 
    text-align: center;
}

.project-info p {
    color: #94a3b8;
    line-height: 0.5;
    margin-bottom: 25px;
}

.project-btn {
    width: fit-content;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #22d3ee;
    color: #22d3ee;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.project-btn:hover {
    background: #22d3ee;
    color: #020617;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .project-card {
        flex-direction: column;
        padding: 25px;
    }
    .project-left-section {
        width: 100%;
        margin-top: 10px;
    }
    .project-info {
        padding-left: 0;
    }
}